@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

div {
    height: 33.33vh;
}

#farhenheit {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

input[type=number] {
    width: 100%;
    height: 100%;
    outline: none;
    background: black;
    color: white;
    font-size: 10em;
    text-align: center;
    border: 0;
    font-family: asap,sans-serif;
}

::-webkit-input-placeholder {
    color: #222222;
}

::-moz-placeholder {
    color: #222222;
}

::-ms-input-placeholder {
    color: #222222;
}